@font-face {
  font-family: "Junicode";
  src: url("../fonts/Junicode_2.224/Junicode/WOFF2/JunicodeVF-Roman.woff2")
    format("woff2");
  font-style: normal;
}

@font-face {
  font-family: "Junicode";
  src: url("../fonts/Junicode_2.224/Junicode/WOFF2/JunicodeVF-Italic.woff2")
    format("woff2");
  font-style: italic;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-VariableFont_opsz,wght.ttf") format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "Inter";
  src: url("../fonts/Inter/Inter-Italic-VariableFont_opsz,wght.ttf")
    format("truetype");
  font-style: italic;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/JetBrainsMono-VariableFont_wght.ttf")
    format("truetype");
  font-style: normal;
}

@font-face {
  font-family: "JetBrains Mono";
  src: url("../fonts/JetBrains_Mono/JetBrainsMono-Italic-VariableFont_wght.ttf")
    format("truetype");
  font-style: italic;
}
