DATABASE_URL=postgres://postgres:postgres@localhost:5432/music_platform?sslmode=disable
SIGNING_KEY="NoCostTooGreatNoMindToThinkNoWil"
ACCESS_TOKEN_DURATION=15m
REFRESH_TOKEN_DURATION=336h
STORAGE_ENDPOINT=localhost:9000
STORAGE_ACCESS_KEY=minioadmin
STORAGE_SECRET_ACCESS_KEY=minioadmin123
STORAGE_IS_SECURE=false
